@model AiderHubAtual.Models.Inscricao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inscricao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idVoluntario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idVoluntario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInscricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
